body {
	background-color: #292f38;
	color: #ffffff;
	font-size: 13pt;
}

table {
	border: 0px;
}

td {
	padding: 10px;
	line-height: 1.75;
	font-family: "arial";
	vertical-align: top;
}

a {
	color: #939eaf;
	text-decoration: none;
}

a:hover {
	color: #ffffff;
}

h1 {
	font-family: Garamond;
	letter-spacing: 2px;
	text-align: center;
	color: #9abcaa;
}

h2 {
	font-family: Garamond;
	letter-spacing: 1px;
	text-align: left;
	color: #c9ddfc;
}

h3 {
	font-family: Garamond;
	letter-spacing: 0.5px;
	text-align: left;
	color: #ffffff;
}


p {
	color: #ffffff;
	font-family: "arial";
	line-height: 1.75;
}

.highlight {
	font-weight: bold;
	color: #c9ddfc;
}

.container{
	background-color: #4f5763;
	margin-top: 0px;
	top: 0;
	z-index: 0;
}

.main{
	width: 70%;
	position: relative;
	z-index:0;
	background-color: #2b4948;
	margin: auto;
	padding: 100px;
}

.footer {
	font-family: "arial", sans-serif;
	font-size: 10pt;
	color: #939eaf;
	position: relative;
	z-index: 1;
	width: 100%; 
	height: 50px;
	background-color: #292f38; 
	text-align: center; 
	text-decoration: none; 
	margin: 0px;
	padding: 5px;

}

.twitter-timeline {
	position: relative;
	text-align: center;	
	margin: auto;
}

.tweets{
	margin: auto;
	position: relative;
	float: right;
	height: auto;
	top: 75px;
}

.bio {
	margin: auto;
	position: absolute;
	float: left;
	width: 100%;
	height: 800px;
}

.textWrapper {
	margin: auto;
	position: relative;
	height: 800px;
}

.headerLeft {
	float: left; 
	text-align: center; 
	width: 30%; 
	text-decoration: none; 
	margin-top: 10px; 
	font-size: 30px; 
	font-family: Garamond;
	position:relative;
}

.headerMid {
	float: left;
	text-align: center;
	width: 10%;
	position: relative;
}

.headerRight {
	 float: right; width: 60%; 
	 font-size: 16pt;
	 text-align: center; 
	 text-decoration: none; 
	 margin-top: 38px; 
	 z-index: 2;
	 position: relative;
}

.header {
	font-family: "Garamond", serif;
	width: 100%;
	height: 120px;
	font-weight: bold;
	margin: 0px;
	margin-top: 0px;
	top: 0;
	position: fixed;
	background-color: rgba(41,47,56,1);
	z-index: 1;
	padding-top: 15px;
}

.icon {
	height: 30px;
	margin-top: 10px;
}
