.header {
	background-color: #292f38;
	font-family: "Garamond", serif;
	text-align: center;
	font-weight: bold;
	max-width: 600px;
	margin: 10px auto;
	padding-top: 15px;
	font-size: 15pt;
}

.container {
	background-color: #4f5763;
	margin: 10px auto;
	max-width: 600px;
	text-align: center;
}

.main{
	position: relative;
	z-index:0;
	background-color: #2b4948;
	margin: auto;
	padding: 20px;
}

.footer {
	text-align: center;
	max-width: 600px;
	margin: 10px auto;
}

.highlight {
	font-weight: 500;
	color: #c7fced;
}

.ref {
	text-indent: -2em;
}

.icon {
	margin-bottom: 5px;
}


body {
	background-color: #292f38;
	color: #ffffff;
	font-size: 13pt;
	font-family: "Courier";
}

img {
	margin-top: 5px;
}

table {
	border: 0px;
}

td {
	padding: 10px;
	line-height: 1.25;
	vertical-align: top;
}

a {
	color: #939eaf;
	text-decoration: none;
}

a:hover {
	color: #ffffff;
}

h1 {
	font-family: Garamond;
	letter-spacing: 2px;
	text-align: center;
	color: #9abcaa;
}

h2 {
	font-family: Garamond;
	letter-spacing: 1px;
	text-align: left;
	color: #c9ddfc;
}

h3 {
	font-family: Garamond;
	letter-spacing: 0.5px;
	text-align: left;
	color: #ffffff;
}

a {
	text-decoration: none;
}

p {
	text-align: left;
	line-height: 1.25;
	color: #ffffff;
}

